@media (max-width:415px) {

    .tudo {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0;
    }

    .parte-azul {
        width: 100%;
        border-radius: 2em;
        padding-top: 140px;
        margin-top: -40px;
        justify-content: center;
        padding-bottom: 30px;
    }



    h2 {
        font-size: 15px;
        margin: 10px 20px 10px;
    }


    .parte-branca {
        padding: 50px 0 0 0;
        margin-top: -40px;
        width: 100%;
        justify-content: center;
    }

    button {
        width: 80%;


    }
}